* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #00ff00;
  font-family: Arial, sans-serif;
  text-align: center;
}

.App {
  padding: 20px;
}

select {
  padding: 25px;
  margin: 20px 0;
  align-items: center;
}

.city-card {
  border: 2px solid #006400;
  border-radius: 10px;
  padding: 20px;
  background-color: #ffffff;
  display: inline-block;
  text-align: left;
  max-width: 400px;
}

.city-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.city-card h2 {
  color: #006400;
}

.city-card ul {
  list-style-type: none;
  padding: 0;
}

.city-card ul li {
  margin: 10px 0;
}

/* Медиа-запросы для адаптивности */

@media (max-width: 768px) {
  .city-card {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .city-card {
    max-width: 100%;
    padding: 10px;
  }

  select {
    width: 100%;
  }
}



